<div id="tre">i</div>

<div class="full-page">

    <div class="top-menu" id="layer1">
        <nav class="top-menu">
            <ul class="menu-main">
                <li><a id="uuu" href="#tre">Главная</a></li>
                <li><a id="aaa" href="#fff">Продукция</a></li>
                <li><a id="www" href="#rrr">Доставка</a></li>
                <li><a id="asf" href="#qwerty">О нас</a></li>
            </ul>
        </nav>

    </div>
    <div class="content">
        <div id="layer3">
            <h3>Главный сайт в России по продаже бетона,а также стройматериалов.<br>
                Работаем 24 часа в сутки.Всегда готовы принять ваши заказы и ответить на все возникшие вопросы.
            </h3>
        </div>
    </div>
    <div class="footer">
        <div id="fff"> . </div><br>
        <span>Продукция</span>
    </div>

    <div class="Product">
        <div class="col1">
            <div style="height: 500px;"><a href="Opisanie.html"> <img src="../assets/Images/Бетон.png"> </a><br></div>
            <p>Описание: супер крутой бетон всем советую<br> Описание пока не придумал </p> <br>
            <img src="../assets/Images/remove.svg" (click)="Minus(1)" class="qwer" style="height: 30px; width: 30px;"
                width="100%">
            <span>{{counter}}</span>
            <img src="../assets/Images/plus.svg" (click)="increase(1)" class="qwe" style="height: 30px; width: 30px;">
            <button class="rrr">
                Добавить в корзину
            </button><br>

        </div>
        <div class="col2">
            <div style="height: 500px;"><a href="Opisanie.html"> <img src="../assets/Images/0309456-1.png"> </a></div>
            <p>Описание: супер крутой бетон всем советую<br> Описание пока не придумал </p> <br>
            <img src="../assets/Images/remove.svg" (click)="Minus1(1)" class="qwer" style="height: 30px; width: 30px;"
                width="100%">
            <span>{{counter1}}</span>
            <img src="../assets/Images/plus.svg" (click)="increase1(1)" class="qwe" style="height: 30px; width: 30px;">
            <button class="rrr">
                Добавить в корзину
            </button><br>
        </div>
        <div class="col3">
            <div style="height: 500px;"><a href="Opisanie.html"> <img src="../assets/Images/image.png"> </a></div>
            <p>Описание: супер крутой бетон всем советую<br> Описание пока не придумал </p> <br>
            <img src="../assets/Images/remove.svg" (click)="Minus2(1)" class="qwer" style="height: 30px; width: 30px;"
                width="100%">
            <span>{{counter2}}</span>
            <img src="../assets/Images/plus.svg" (click)="increase2(1)" class="qwe" style="height: 30px; width: 30px;">
            <button class="rrr">
                Добавить в корзину
            </button><br>
        </div>

        <div class="col4">
            <div style="height: 500px;"><a href="Opisanie.html"> <img src="../assets/Images/images.png"> </a></div>
            <p>Описание: супер крутой бетон всем советую<br> Описание пока не придумал </p> <br>
            <img src="../assets/Images/remove.svg" (click)="Minus3(1)" class="qwer" style="height: 30px; width: 30px;"
                width="100%">
            <span>{{counter3}}</span>
            <img src="../assets/Images/plus.svg" (click)="increase3(1)" class="qwe" style="height: 30px; width: 30px;">
            <button class="rrr">
                Добавить в корзину
            </button><br>
        </div>
        <div class="col5">
            <div style="height: 500px;"><a href="Opisanie.html"> <img src="../assets/Images/unnamed.png"> </a></div>
            <p>Описание: супер крутой бетон всем советую<br> Описание пока не придумал </p> <br>
            <img src="../assets/Images/remove.svg" (click)="Minus4(1)" class="qwer" style="height: 30px; width: 30px;"
                width="100%">
            <span>{{counter4}}</span>
            <img src="../assets/Images/plus.svg" (click)="increase4(1)" class="qwe" style="height: 30px; width: 30px;">
            <button class="">
                Добавить в корзину
            </button><br>

        </div>
        <div class="col6">
            <div style="height: 500px;"><a href="Opisanie.html"><img src="../assets/Images/aaa.png"> </a></div>
            <p>Описание: супер крутой бетон всем советую<br> Описание пока не придумал </p> <br>
            <img src="../assets/Images/remove.svg" (click)="Minus5(1)" class="qwer" style="height: 30px; width: 30px;"
                width="100%">
            <span>{{counter5}}</span>
            <img src="../assets/Images/plus.svg" (click)="increase5(1)" class="qwe" style="height: 30px; width: 30px;">
            <button class="rrr">
                Добавить в корзину
            </button><br>

        </div>

    </div>
    <div class="ggg" id="rrr">Дпывавфыа</div>
    <div class="Dostavka">Наши районы доставки:</div>
    <div class="Googlemap">

        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d749.1789069766704!2d37.620042773921995!3d55.75898005728172!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54995ad09d153%3A0x421991fd81a548f8!2sMUST-HAVE%20(Elisabetta%20Franchi)!5e0!3m2!1sru!2sru!4v1605269110885!5m2!1sru!2sru"
            width="1900" height="600" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
            tabindex="0"></iframe>

    </div>
    <div id="qwerty"> авыфвыф</div>
    <div class="ae"> О нас</div>
    <div class="Onas">
        Мы поставляем строительные материалы для многоэтажного строительства и частного сектора.<br>Собственный
        автопарк позволяет проводить поставки бетона и арматуры точно в срок в любом необходимом объеме.<br>
        Сотрудничество с ведущими поставщиками нерудных материалов и карьерами в Московской области <br>
        обеспечивает
        высокое качетво всего бетона и растворов, поставляемых нашим заводом.
    </div>

</div>